#attachment_detail_popup {
    position: fixed;
    left: 25%;
    width: 50%;
    height: 80%;
    border: 5px solid blue;
    top: 10%;
}

#attachment_detail_popup_maincontainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#attachment_detail_popup_header {
    width: 100%;
    background-color: blue;
}

#attachment_detail_popup_body {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-left: 10px;
    background-color: #EEEEEE;
}